html, body{
    max-width: 100%;
    background: #000;
}

.container{
  max-width: 100%;
  margin: 0 auto;
}

.main{
    margin-top: -100px
}

.navbar-brand{
    color: #FFFFE7;
    font-weight: 700;
}

.navbar{
    padding: 30px 50px;
    background: linear-gradient(180deg, #00050C 59.37%, #1E243A 100%);
    z-index: 90;
}

.nav-item a{
    color: #FFFFE7B5;
    font-weight: 600;
    margin-right: 10px;
}

.nav-item a:hover{
    color: #FFFFE7;
    text-decoration: none;
}

.buy-btn{
    background: #FFFFE7;
    border-radius: 50px;
    padding: 5px 50px;
    border: none;
    margin-top: -10px;
    font-weight: 600;
}

header{
    padding: 50px 0 150px 0;
    background: url('../img/blur_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-heading{
    color: #FFFFE7;
    font-size: 120px;
    font-weight: 700;
    margin: -20px 0 0px 0;
    letter-spacing: 0px;
}

.highlight{
    font-size: 170px;
}

/* Tokenomics Section */

.toke-item{
    padding: 1em;
    color: #FFFFE7;
}

.toke-item p{
    text-align: justify;
}

.warning-section{
  animation: fa;
  transition: 1s !important;
}

.warning-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(251, 153, 68);
    z-index: 999 !important;
    display:flex;
    align-items: center;
    justify-content: center;
}

.warning {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  color: #fff;
  width: 90%;
  padding: 2em 3em;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0px 0px 2px #131415;
  font-family: "Open Sans", sans-serif;
}

.warning-wrapper img{
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
  -webkit-animation-name: grow;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: grow;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  animation: grow 3s ease infinite;
}

@keyframes grow {
  from {
      transform: scale(1);
  }
  50%{
    transform: scale(1.02);
  }
  to {
      transform: scale(1);
  }
}

.warning h1 {
  font-size: 2.25em;
  font-weight: 700;
  letter-spacing: -1px;
}

.btn-social {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    background: #FDAD4C;
    color: #000 !important;
    border-radius: 10px;
    border: 2px solid #FDAD4C;
    margin-top: 20px;
    font-weight: 700;
  }
  .btn-social:hover {
    -webkit-animation: burn 1000ms ease-out forwards;
            animation: burn 1000ms ease-out forwards;
  }
  .btn-social:hover::before {
    content: "";
    position: absolute;
    left: 40px;
    width: 50px;
    height: 40px;
    background: #ffe66e;
    border-radius: 100%;
    -webkit-animation: flare 1000ms ease-out forwards;
            animation: flare 1000ms ease-out forwards;
  }
  .btn-social:hover::after {
    content: "";
    position: absolute;
    right: 40px;
    width: 50px;
    height: 40px;
    background: #ffe66e;
    border-radius: 100%;
    -webkit-animation: flare 1000ms ease-out forwards;
            animation: flare 1000ms ease-out forwards;
  }
  
  @-webkit-keyframes flare {
    100% {
      transform: translateY(-20px) scale(1.5);
      filter: blur(10px);
      opacity: 0;
    }
  }
  
  @keyframes flare {
    100% {
      transform: translateY(-20px) scale(1.5);
      filter: blur(10px);
      opacity: 0;
    }
  }
  @-webkit-keyframes burn {
    0% {
      color: #ff826e;
      background: #ffe66e;
      box-shadow: 0 0 5px 0 #c8000a, 0 0 5px 0 rgba(230, 30, 10, 0.8), 0 0 5px 0 rgba(230, 230, 10, 0.6);
    }
    100% {
      color: black;
      background: white;
      box-shadow: 0 -35px 40px 30px rgba(255, 130, 10, 0), 0 -30px 30px 10px rgba(230, 30, 10, 0), 0 -20px 10px 0 rgba(255, 255, 10, 0);
    }
  }
  @keyframes burn {
    0% {
      color: #ff826e;
      background: #ffe66e;
      box-shadow: 0 0 5px 0 #c8000a, 0 0 5px 0 rgba(230, 30, 10, 0.8), 0 0 5px 0 rgba(230, 230, 10, 0.6);
    }
    100% {
      color: black;
      background: white;
      box-shadow: 0 -35px 40px 30px rgba(255, 130, 10, 0), 0 -30px 30px 10px rgba(230, 30, 10, 0), 0 -20px 10px 0 rgba(255, 255, 10, 0);
    }
  }

  @media only screen and (max-width: 850px) {

    .wrapper{
      transform: rotate(90deg);
      transform-origin:bottom left;
      
      position:absolute;
      top: -100vw;
      left: 0px;
      
      height:100vw !important;
      width:93vh !important;
      background-color:#000;
      color:#fff;
      overflow: auto;
    }    

    .main{
        margin-top: -50px !important;
    }

    header{
        padding: 70px 0 100px 0;
    }

    .hero-heading{
        font-size: 60px;
    }

    .highlight{
        font-size: 80px;
    }

    .toke-heading{
        font-size: 25px;
        display: none !important;
    }

    .toke-para{
        font-size: 15px;
        display: none !important;
    }

    .buy-btn{
        width: 100%;
        margin-top: 10px;
    }
  }